<div class"container-fluid">
	<div class="jumbotron center">
		<h1>Ballot Overview</h1>
		<br>
		<table class="table table-hover">
		<% @ballot.races.order(:created_at).each do |r| %>
				<tr>
					<% if r.voted == true %> 
						<td class="success"id="race#{r}"><h3><%=link_to r.title, race_path(r)%></h3></td>
					<% else %>
						<td id="race#{r}"><h3><%=link_to r.title, race_path(r)%></h3></td>
					<% end %>		
    			<tr/>
    	<% end%>
    	</table>
    	<br>
    	<br>
		<%= link_to "Submit", "/ballot/#{@ballot.id}/completed", class: "btn btn-lg btn-success center" %>
</div>