<div class"container-fluid">
	<div class="jumbotron center">
		<h1>Non-Sequential Ballot</h1>
		<br>
		<% @ballot.races.each do |r| %>
    			<%=link_to r.title, race_path(r), class: "btn btn-lg btn-primary" %>
    	<% end%>
    	<br>
    	<br>
		<div class="row center">
			  	<%= link_to "Submit", "#", class: "btn btn-lg btn-success" %>
	</div>
</div>