<div class"container-fluid">
	<div class="jumbotron center">
		<h1>Non-Sequential Ballot</h1>
		<br>
		<table class="table table-hover">
		</table>
		<% @ballot.races.each do |r| %>
				<tr>
    				<td><h3><%=link_to r.title, race_path(r)%></h3></td>
    			<tr/>
    	<% end%>
    	</table>
    	<br>
    	<br>
		<%= link_to "Submit", "#", class: "btn btn-lg btn-success center" %>
</div>