<div class="radio">
	<% if @selected_candidate != nil %>
  	<%= f.radio_button :selected, c.name, checked: c.name == @selected_candidate.name ,:id=>c.name, :name => "candidate" %>
  <% else %>
  	<%= f.radio_button :selected, c.name ,:id=>c.name, :name=> "candidate" %>
  <% end %>
  <%= f.label :selected, c.name%>
  <% if c.party != nil %>
  	<%= f.label :selected, "("+ c.party + ")"%>
  <% end %>
  <br>
</div>

