<div class="center jumbotron vertical-center">
	<div class="container">
	  <h1>Elections 2014</h1>
	  <h3>City of Houston</h3> 
	  <h3>Harris County, Texas</h3>
	  <br>
	  <%= link_to "Begin Voting", 'ballot/new', class: "btn btn-lg btn-primary" %>
	</div>
</div>
