<div class="center jumbotron">
  <h1>Welcome Page</h1>
  <%= link_to "Begin", 'ballot', class: "btn btn-lg btn-primary" %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>  -->